* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

/* HEADER */
.bg-img {
    background-image: url("./assets/img/wall.png");
}

#h1FontS {
    font-size: 80px;
    font-style: italic;
    font-weight: 700;
    font-family: 'Edu TAS Beginner', sans-serif;
}

/* BODY */

.section-bg {
    background-image: url("./assets/img/cork.png");
}

/* CARD */

.photo-wrapper {
    position: relative;
}

.pin {
    position: absolute;
    top: -12px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
}

.card-img-top {
    position: relative;
    z-index: 1;
}