* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

/* HEADER */
.bg-img {
    background-image: url("./assets/img/wall.png");
    padding: 30px 0px;
    margin-bottom: 24px;
}

#h1FontS {
    font-size: 80px;
    font-style: italic;
    font-weight: 700;
    font-family: 'Edu TAS Beginner', sans-serif;
}

/* BODY */

.section-bg {
    background-image: url("./assets/img/cork.png");
}




/* CARD */

.photo-wrapper {
    position: relative;
}

.pin {
    position: absolute;
    top: -12px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
}

.card {
    cursor: pointer;
}

.card-img-top {
    position: relative;
    z-index: 1;
}

.card-text-font {
    font-family: 'Sometype Mono', monospace;
}



/* OVERLAY */

.overlay-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    z-index: 1000;
    flex-direction: column;
}

.btn-overlay {
    margin-bottom: 10px;
    padding: 5px 20px;
    border-radius: 20px;
    background-color: firebrick;
    color: white;
}

.overlay-img {
    width: 600px;
    height: 600px;
}




/* RESPONSIVE */

@media (max-width: 768px) {
    #h1FontS {
        font-size: 60px;
    }
}

@media (min-width: 992px) {
    #h1FontS {
        font-size: 100px;
    }
}